<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>找回密码</title>
    <link rel="stylesheet" href="../node_modules/layui-src/dist/css/layui.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <script src="../node_modules/layui-src/dist/layui.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="header-lf fl">
            <div class="fl"><img src="../public/images/logo.png" alt=""></div>
            <a class="fl">交易</a>
        </div>
        <div class="fr">
            <div class="login fl">
                <a href="login.html">登录</a>
                <a href="">注册</a>
            </div>
            <div class="language fl">
                <div class="language_box ac">
                    <span>简体中文</span>  
                    <img src="../public/images/select.png" alt=""> 
                </div>
                <div class="language_choose ac">
                    <p>简体中文</p>
                    <p>English</p>
                </div>
            </div>
        </div>
    </header>
    <section class="contentBK">
        <div class="content-wrap">
            <div class="account">
                <div class="main-findpwd">
                    <p class="main_title ac">找回密码</p>
                    <div class="choose-register mt10 fColor1 ac">
                        <span class="on">手机找回</span>
                        <span>邮箱找回</span>
                    </div>
                    <div class="register-input phone">
                        <span class="register-item">注册手机</span>
                        <input type="text" class="input-main input-content" placeholder="">
                    </div>
                    <div class="register-input email">
                        <span class="register-item">注册邮箱</span>
                        <input type="text" class="input-main input-content" placeholder="">
                    </div>
                    <div class="register-input">
                        <span class="register-item">验证码</span>
                        <input type="text" class="input-main input-content" maxlength="6" style="width:316px">
                        <img src="http://116.62.127.60:8110/api/web/registLogin/getImageCode?uuid=6d60-89f6-6da1-e7be-32d0d77b4171&language=zh" alt="" class="pic-code curPer">
                    </div>
                    <div class="register-input phone">
                        <span class="register-item">短信验证码</span>
                        <input type="password" class="input-main input-content" maxlength="6">
                        <div class="msg-code ac baseColor curPer">
                            <span>获取验证码</span>
                        </div>
                    </div>
                    <div class="register-input email">
                        <span class="register-item">邮箱验证码</span>
                        <input type="password" class="input-main input-content" maxlength="6">
                        <div class="msg-code ac baseColor curPer">
                            <span>获取验证码</span>
                        </div>
                    </div>
                    <div class="register-input" style="margin-top: 60px">
                        <span class="register-item">&nbsp</span>
                        <div class="findpwd-btn ac curPer">下一步</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../public/js/login.js"></script>
</body>
</html>