<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="../node_modules/layui-src/dist/css/layui.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <script src="../node_modules/layui-src/dist/layui.js"></script>
</head>
<body>
    <header class="header">
        <div class="header-lf fl">
            <div class="fl"><img src="../public/images/logo.png" alt=""></div>
            <a class="fl">交易</a>
        </div>
        <div class="fr">
            <div class="login fl">
                <a href="">登录</a>
                <a href="">注册</a>
            </div>
            <div class="language fl">
                <div class="language_box">
                   <span>简体中文</span>  
                   <img src="../public/images/select.png" alt=""> 
                </div>
                <div class="language_choose">
                   <p>简体中文</p>
                   <p>English</p>
                </div>
            </div>
        </div>
    </header>
    <section class="contentBK">
        <div class="login-wrap">
            <div class="account">
                <div class="main">
                    <p class="main_title">账户登录</p>
                    <div class="input-box">
                        <input type="text" placeholder="已绑定手机/邮箱" maxlength="20" class="input-main">
                        <div class="icon">
                            <img src="../public/images/user.png" alt="">
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="密码" maxlength="16" class="input-main">
                        <div class="icon">
                            <img src="../public/images/lock.png" alt="">
                        </div>
                    </div>
                    <p class="forgot"><span>忘记密码?</span></p>
                    <div class="login-btn">登录</div>
                    <div class="noaccount">
                        <span>暂无账号</span>
                        <a href="">立即登录</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>